version: "3.7"

services:
  mojaloop-testing-toolkit:
    # image: mojaloop/ml-testing-toolkit:v14.1.0
    image: mojaloop-testing-toolkit:local
    build:
     context: .
     target: builder
    volumes:
      - "./spec_files:/opt/app/spec_files"
      - "./secrets:/opt/app/secrets"
    ports:
      - "5000:5000"
      - "5050:5050"
    command:
      - sh
      - -c
      - "npm start"
  mojaloop-testing-toolkit-ui:
    image: mojaloop/ml-testing-toolkit-ui:v14.0.0
    ports:
      - "6060:6060"
    environment:
      - API_BASE_URL=http://localhost:5050
      - AUTH_ENABLED=FALSE
    command:
      - sh
      - /usr/share/nginx/start.sh

networks:
  default:
    name: mojaloop-testing-toolkit


