version: "3.7"

services:
  mojaloop-testing-toolkit:
    #image: mojaloop/ml-testing-toolkit:v15.6.1
    image: mojaloop/ml-testing-toolkit:local
    build:
      context: .
      target: builder
    volumes:
      - "./spec_files:/opt/app/spec_files"
      - "./secrets:/opt/app/secrets"
    environment:
      # REPORTING_DB_CONNECTION_PASSWORD: ttk
      TTK_SYSTEM_CONFIG: |-
        {
          "DB": {
            "HOST": "ttk-mongodb",
            "PORT": 27017,
            "USER": "ttk",
            "PASSWORD": "ttk",
            "DATABASE": "admin"
          }
        }
    ports:
      - "4040:4040"
      - "5050:5050"
    command:
      - sh
      - -c
      - "npm start"
  mojaloop-testing-toolkit-ui:
    image: mojaloop/ml-testing-toolkit-ui:v15.3.0
    ports:
      - "6060:6060"
    environment:
      - API_BASE_URL=http://localhost:5050
      - AUTH_ENABLED=FALSE
    command:
      - sh
      - /usr/share/nginx/start.sh

  ttk-mongodb:
    image: mongo:6.0.5
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ttk
      MONGO_INITDB_ROOT_PASSWORD: ttk
      ALLOW_EMPTY_PASSWORD: "true"
    ports:
      - 27017:27017
    volumes:
      - ttk-db-data:/data/db

networks:
  default:
    name: mojaloop-testing-toolkit

volumes:
  ttk-db-data:
    driver: local
