version: "3.7"

services:
  mojaloop-testing-toolkit:
    image: mojaloop-testing-toolkit:local
    build:
      context: .
      target: builder
    volumes:
      - "./spec_files:/opt/mojaloop-testing-toolkit/spec_files"
      - "./secrets:/opt/mojaloop-testing-toolkit/secrets"
    ports:
      - "5000:5000"
      - "5050:5050"
    command:
      - sh
      - -c
      - "npm start"
  mojaloop-testing-toolkit-ui:
    image: mojaloop/ml-testing-toolkit-ui:v10.3.5-snapshot
    ports:
      - "6060:6060"
    command:
      - nginx
      - -g
      - "daemon off;"
networks:
  default:
    name: mojaloop-testing-toolkit


