HOME            = .
RANDFILE        = $ENV::HOME/.rnd

####################################################################
[ req ]
default_bits       = 4096
default_keyfile    = hub_server_key.key
distinguished_name = server_distinguished_name
req_extensions     = server_req_extensions
string_mask        = utf8only

####################################################################
[ server_distinguished_name ]
countryName_default = US
stateOrProvinceName_default = MD
localityName_default = Baltimore
organizationName_default    = Test Server, Limited
organizationalUnitName_default = Payments
commonName   = Your FQDN
commonName_default   = mojaloop-testing-toolkit
emailAddress_default = hubserver@example.com

####################################################################
[ server_req_extensions ]

subjectKeyIdentifier = hash
basicConstraints     = CA:FALSE
keyUsage             = digitalSignature, keyEncipherment
extendedKeyUsage     = serverAuth, clientAuth, codeSigning, emailProtection
subjectAltName       = @alternate_names
nsComment            = "OpenSSL Generated Certificate"

####################################################################
[ alternate_names ]

DNS.1  = mojaloop-testing-toolkit
DNS.2  = localhost
DNS.3  = keycloak
DNS.4  = connection-manager-api