HOME            = .
RANDFILE        = $ENV::HOME/.rnd

####################################################################
[ req ]
default_bits       = 4096
default_keyfile    = dfsp_client_key.key
distinguished_name = client_distinguished_name
req_extensions     = client_req_extensions
string_mask        = utf8only
prompt = no

####################################################################
[ client_distinguished_name ]
countryName = US
stateOrProvinceName = MD
localityName = Baltimore
organizationName    = DFSP Client
organizationalUnitName = Payments
commonName   = dfspclient
emailAddress = dfspclient@example.com

####################################################################
[ client_req_extensions ]

subjectKeyIdentifier = hash
basicConstraints     = CA:FALSE
keyUsage             = digitalSignature, keyEncipherment
extendedKeyUsage     = serverAuth, clientAuth, codeSigning, emailProtection
subjectAltName       = @alternate_names
nsComment            = "OpenSSL Generated Certificate"

####################################################################
[ alternate_names ]

DNS.1  = localhost